export const environment = {
  production: true,
  envName: 'stage',
  auth: {
    clientId: '{YOUR_AUTH0_CLIENT_ID}',
    domain: '{YOUR_AUTH0_DOMAIN}', // e.g., you.auth0.com
    audience: '{YOUR_API_IDENTIFIER}', // e.g., https://secure-dino-api
    redirect: 'http://localhost:3000/callback',
    logoutUrl: 'http://localhost:3000'
  }
};
