<nav *ngIf="!auth.hideAuthHeader" class="nav justify-content-between mt-2 mx-2 mb-3">
  <ul class="nav">
    <li class="nav-item">
      <a
        routerLink="/"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Dinosaurs</a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/public"
        class="nav-link"
        routerLinkActive="active">Public</a>
    </li>
    <li *ngIf="(auth.token$ | async)" class="nav-item">
      <a
        routerLink="/secure"
        class="nav-link"
        routerLinkActive="active">Dragons</a>
    </li>
  </ul>

  <div id="authContainer" class="ml-3">
    <button
      *ngIf="!auth.isAuthenticated"
      class="btn btn-success btn-sm"
      (click)="auth.login()">Log In</button>
    <span *ngIf="auth.isAuthenticated && (auth.userProfile$ | async) as user">
      <img [src]="user.picture">
      <a class="px-1" routerLink="/profile" href><small>{{ user.name }}</small></a>
      <button
        class="btn btn-danger btn-sm"
        (click)="auth.logout()">Log Out</button>
    </span>
  </div>
</nav>
